<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/platillos.css">
    <title>comida</title>
</head>
<body>
    <section>
        <h2><a href="/"><img src="../static/Logo.png" alt="Volver al inicio" width="200px" height="200px"></a></h2><h1><b>COMIDA</b><a href="/carrito"><img src="../static/carrocirculoamarillo.png" alt="ir a carrito" width="150px" height="150px"></a></h1>    
            <h2><b><u>MENU</u></b></h2>
            <table border="1px">
                <tr>
                    <td colspan="2">TACOS DE ARRACHERA $60</td>
                </tr>
                <tr>
                    <td><img src="../static/com/tacos.jpeg" height="250x" width="250px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2"><p>se le llama arrachera a un corte</p>
                        <p>particular de carne de vacuno que proviene</p>
                        <p>del costillar del animal. Es un músculo alargado</p>
                        <p>muy escaso</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <form action="/comida" method="POST">
                        <td><input type="int" name="cantidad" placeholder="cantidad"></td>
                        <td><input type="submit" name="agregar" value="agregar"></td>
                    </form>
                    
                </tr>
                
            </table>
    
            <table border="1px">
                <tr>
                    <td colspan="2">PECHUGAS DE POLLO RELLENAS DE JAMON Y QUESO $75</td>
                </tr>
                <tr>
                    <td><img src="../static/com/pollo.jpg" height="250x" width="250px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>En esta receta de pechugas de pollo cordon</p>
                        <p>bleu o milanesas de pollo te cuento paso a paso</p>
                        <p>cómo rellenarlas fácilmente y el truco para</p>
                        <p>conseguir unos filetes de pechuga muy finos</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <form action="/comida">
                        <input type="int" name="cantidad" placeholder="cantidad">
                        <input type="submit" name="agregar">agregar
                    </form>
                    
                </tr>
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">HAMBURGUESA DE RES Y/O POLLO $55</td>
                </tr>
                <tr>
                    <td><img src="../static/com/hamb.jpeg" height="250x" width="250px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Pieza de carne picada aplastada y </p>
                        <p>con forma redondeada, mezclada con </p>
                        <p>diversos ingredientes</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><button type="submit" id="1">agregar</button></td>
                </tr>
                
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">FILETE DE PESCADO A LA PLANCHA $115</td>
                </tr>
                <tr>
                    <td><img src="../static/com/pez.webp" height="250x" width="250px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>el pescado a la plancha. Este </p>
                        <p>método de cocción simple, pero </p>
                        <p>elegante, no solo resalta la </p>
                        <p>frescura natural del pescado</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><button type="submit" id="1">agregar</button></td>
                </tr>
            </table>  

    </section>
    <a href="/"><u>INICIO</u></a>

    <footer>
        <h1><b><a href="/"></a><img src="../static/Logo.png" alt="" width="500px" height="500px">
        
            <p> Copyright © 2024 CAFE EL INGE </p>
        </footer>
</body>
</html>