<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/platillos.css">
    <title>desayunos</title>
</head>
<body>
    <section>
        <h2><a href="/"><img src="../static/Logo.png" alt="Volver al inicio" width="200px" height="200px"></a></h2><h1><b>DESAYUNOS</b><a href="/carrito"><img src="../static/carrocirculoamarillo.png" alt="ir a carrito" width="150px" height="150px"></a></h1>

        <h2><b><u>MENU</u></b></h2>
        <table border="1px">
            <tr>
                <td colspan="2">Chilaquiles $65</td>
            </tr>
            <tr>
                <td><img src="../static/des/chil.jpeg" height="250x" width="250px"></td>
            </tr>
            <tr>
                <td>descripcion</td>
            </tr>
            <tr>
                <td colspan="2"><p>Los chilaquiles son </p>
                    <p>un plato típico mexicano</p>
                    <p>elaborado con totopos que se </p>
                    <p>cocinan en una salsa picante</p>
            </td>
            </tr>
            <tr>
                <td><a href="/">inicio</a></td>
                <td><input type="submit" name="agregarChi" value="agregar"></td>
            </tr>
            
        </table>

    

        <table border="1px">
            <tr>
                <td colspan="2">MOLLETES $45</td>
            </tr>
            <tr>
                <td><img src="../static/des/molletes.jpg" height="250x" width="250px"></td>
            </tr>
            <tr>
                <td>descripcion</td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>El mollete es el nombre genérico </p>
                    <p>para multitud de panes, o </p>
                    <p>alimentos a base de pan</p>
            </td>
            </tr>
            <tr>
                <td><a href="/">inicio</a></td>
                <td><input type="submit" name="agregarMo" value="agregar"></td>
            </tr>
        </table>

        <div></div>

        <table border="1px">
            <tr>
                <td colspan="2">Sincronizadas $45</td>
            </tr>
            <tr>
                <td><img src="../static/des/sincr.webp" height="250x" width="250px"></td>
            </tr>
            <tr>
                <td>descripcion</td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>La sincronizada es un sándwich</p>
                    <p>con una tortilla. Frecuentemente</p>
                    <p>se confunde con las quesadillas</p>
                    <p>mexicanas</p>
            </td>
            </tr>
            <tr>
                <td><a href="/">inicio</a></td>
                <td><input type="submit" name="agregarSin" value="agregar"></td>
            </tr>
            
        </table>

        <div></div>

        <table border="1px">
            <tr>
                <td colspan="2">Enfrijoladas $55</td>
            </tr>

            <tr>
                <td><img src="../static/des/enfr.jpg" height="250x" width="250px"></td>
            </tr>
            <tr>
                <td>descripcion</td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>Las enfrijoladas son un platillo</p>
                    <p> mexicano elaborado a base de </p>
                    <p>dos ingredientes esenciales en</p>
                    <p>su gastronomía</p>
            </td>
            </tr>
            <tr>
                <td><a href="/">inicio</a></td>
                <form action="/desayunos" method="POST">
                    <td><input type="int" placeholder="cantidad" name="cantidad"></td>
                    <td><input type="submit" name="agregarEn" value="agregar"></td>
                </form>
                
            </tr>
        </table>
       
    </section>
    
    <br>

    <a href="/"><u>INICIO</u></a>

    <footer>
        <h1><b><a href="/"></a><img src="../static/Logo.png" alt="" width="500px" height="500px">
        
            <p> Copyright © 2024 CAFE EL INGE </p>
        </footer>
</body>
</html>