<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>BIENVENIDO</title>
</head>


<body>
    
<header>
    <section>
        <h2><a href="/"><img src="../static/Logo.png" alt="Volver al inicio" width="200px" height="200px"></a></h2><h1><b>CAFE EL INGE</b><a href="/carrito"><img src="../static/carrocirculoamarillo.png" alt="ir a carrito" width="150px" height="150px"></a></h1>
       
    </section>
</header>


<body1>
    <main>


    <h2>Contamos con platillos clásicos y deliciosos; Lo mas importante es la calidez familiar y los momentos especiales en cefeteria el inge. Ven y disfruta un momento especial con nuestros postres y bebidas.</h2>
       
    </main>
</body1>


<body2>
    <main>
        <h1><b><u0>MENÚ</u0></b></h1>


    </main>
</body2>


<body3>
    <main>


        <div class="articulo">
            <article>
                <header>
                    <a href="/desayunos"><u1>|  DESAYUNOS  |</u1></a>
                </header>
                <p>
                    <img src="../static/Desayuno.jpeg" alt="", width="450vw", height="250vh">
                </p>


            </article>
            <article>
                <header>
                    <a href="/comida"><u1>|  COMIDA  |</u1></a>
                </header>
                <p>
                    <img src="../static/Comida.jpg" alt="", width="450vw", height="250vh">
                </p>


            </article>
            <article>
                <header>
                    <a href="/postres"><u1>|  POSTRES  |</u1></a>
                </header>
                <p>
                    <img src="../static/Postre.jpg" alt="", width="450vw", height="250vh">
                </p>


            </article>


            <article>
                <header>
                    <a href="/bebidas"><u1>|  BEBIDAS  |</u1></a>
                </header>
                <p>
                    <img src="../static/bebida.jpeg" alt="", width="450vw", height="250vh">
                </p>


            </article>


        </div>
    </main>
</body3>



<footer>
<h1><b><a href="/"></a><img src="../static/Logo.png" alt="" width="500px" height="500px">
    <p></p>
    <a href="/crud">REGISTRATE</a>
    <a href="/tabla">USUARIOS REGISTRADOS</a>
    <p> Copyright © 2024 CAFE EL INGE </p>
</footer>
</body>


</html>

