<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/platillos.css">
    <title>postres</title>
</head>
<body>
    <section>
        <h2><a href="/"><img src="../static/Logo.png" alt="Volver al inicio" width="200px" height="200px"></a></h2><h1><b>POSTRES</b><a href="/carrito"><img src="../static/carrocirculoamarillo.png" alt="ir a carrito" width="150px" height="150px"></a></h1>    
            <h2><b><u>MENU</u></b></h2>
            <table border="1px">
                <tr>
            
                    <td colspan="2">pay de queso $30</td>
                    
                </tr>
                <tr>
                    <td><img src="../static/pos/pay.jpg" height="250x" width="250px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2"><p></p>
                        <p>un pastel de queso popular desde el</p>
                        <p>siglo XX hecho a base de ricota</p>
                        <p>queso quark, azucar y algunas</p>
                        <p>veces otros ingredientes</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <form action="/postres" method="POST">
                        <td><input type="int" name="cantidad" placeholder="cantidad"></td>
                        <td><input type="submit" name="agregar" value="agregar"></td>
                    </form>
                    
                </tr>
                
            </table>
    
        
    
            <table border="1px">
                <tr>
                    <td colspan="2">arroz con leche $45</td>
                </tr>
                <tr>
                    <td><img src="../static/pos/arroz.jpg" height="250x" width="250px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>el arroz con leche es un </p>
                        <p>postre tipico de la gastronomia de multiples</p>
                        <p>paises</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><button type="submit" id="1">agregar</button></td>
                </tr>
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">tarta de manzana $45</td>
                </tr>
                <tr>
                    <td><img src="../static/pos/manza.jpg" height="250x" width="250px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>la tarta es elaborada con una masa</p>
                        <p>recubierta de manzana existen muchas</p>
                        <p>variantes y la manzana existen </p>
                        <p>muhcas variantes</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><button type="submit" id="1">agregar</button></td>
                </tr>
                
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">orden de 6 donas espolvoreadas $45</td>
                </tr>
                <tr>
                    <td><img src="../static/pos/dona.jpeg" height="250x" width="250px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>con su forma redonda y suave textura</p>
                        <p>se pueden recubrir de muchas de</p>
                        <p>maneras</p>
                        <p></p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><button type="submit" id="1">agregar</button></td>
                </tr>
            </table>
           
    </section>
    <a href="/"><u>INICIO</u></a>

    <footer>
        <h1><b><a href="/"></a><img src="../static/Logo.png" alt="" width="500px" height="500px">
        
            <p> Copyright © 2024 CAFE EL INGE </p>
        </footer>
</body>
</html>